.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
form {
  display:flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
}
button {
  min-width: 90px;
}